#chngmdp:hover {
    background:rgba(255, 255, 255, 0);
}

#chngmdp {
    color:white;
    background:#394147;
}

#chngmail:hover {
    background:rgba(255, 255, 255, 0);
}

#chngmail {
    color:white;
    background:#394147;
}

#chngpp:hover {
    background:rgba(255, 255, 255, 0);
}

#chngpp {
    color:white;
    background:#394147;
}